@model BackUp1Final.Models.Team

@{
    ViewBag.Title = "Add Team";
}

<br /><br />
<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Add a specific team">
    Add Team
</button>
<br /><br />

@Html.Partial("_TeamForm")