@model BackUp1Final.Models.Team

@{
    ViewBag.Title = "Edit Team";
}

<br /><br />
<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Edit a specific team">
    Edit Team
</button>
<br /><br />

@Html.Partial("_TeamForm")