@model BackUp1Final.Models.Player

@{
    ViewBag.Title = "Add Player";
}

<br /><br />
<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Add a specific player">
    Add Player
</button>
<br /><br />

@Html.Partial("_PlayerForm")
