@model BackUp1Final.Models.Player

@{
    ViewBag.Title = "Edit Player";
}

<br /><br />
<button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="Edit a specific player">
    Edit Player
</button>
<br /><br />

@Html.Partial("_PlayerForm")